<p id="notice"><%= notice %></p>

<p>
  <strong>People category:</strong>
  <%= @person.people_category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<p>
  <strong>Document:</strong>
  <%= @person.document %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
